
.container{
    width: 1090px;
    height: 817px;
    background-image: url(img/img_back1.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.img1{
    position: absolute;
    height: 113px;
    width: 157px;
    bottom: 24px;
    left: 24px;
    opacity: .8;
}

.img2{
    position: absolute;
    height: 155px;
    width: 135px;
    bottom: 98px;
    left: 609px;
    opacity: 0.85;
}

.img3{
    position: absolute;
    height: 126px;
    width: 213px;
    top: 0px;
    opacity: .6;
    left: 462px;
}

.img4{
    position: absolute;
    height: 75px;
    width: 258px;
    top: 367px;
    left: 172px;
    opacity: .7;
}
.img5{
    position: absolute;
    height: 133px;
    width: 120px;
    bottom: 153px;
    right: 15px;
    z-index: 10;
    opacity: .7;
}
.img6{
    position: absolute;
    height: 132px;
    width: 133px;
    bottom: 156px;
    right: 55px;
    z-index: 5;
}

.img7{
    position: absolute;
    height: 43px;
    width: 82px;
    bottom: 156px;
    right: 44px;
    z-index: 15;
    opacity: .8;
}
.img8{
    position: absolute;
    height: 77px;
    width: 111px;
    bottom: 136px;
    left: 306px;
    opacity: .9;
}

.img9{
    position: absolute;
    height: 138px;
    width: 120px;
    bottom: 158px;
    right: -12px;
    z-index: 10;
}

.img10{
    position: absolute;
    height: 31px;
    width: 98px;
    bottom: 265px;
    left: 87px;
    opacity: .7;
}

.img11{
    position: absolute;
    height: 78px;
    width: 115px;
    bottom: 239px;
    left: 350px;
    z-index: 10;
}

.img12{
    position: absolute;
    height: 111px;
    width: 163px;
    bottom: 1px;
    left: 0px;
    z-index: 10;
    opacity: .9;
}

.img13{
    position: absolute;
    height: 42px;
    width: 156px;
    bottom: 223px;
    right: 115px;
    opacity: .7;
}

.img14{
    position: absolute;
    height: 109px;
    width: 162px;
    bottom: 58px;
    right: 241px;
    opacity: .7;   
}