form{
    background-image: url(img/bcgnd-img.jpg);
    background-repeat: no-repeat;
    max-width: 420px;
    border: 3px solid black;
    text-transform: uppercase;
}

fieldset{
    border: none;
}

.form-row  {
    display: flex;
    justify-content: flex-start;
    padding: .5em;
}

.form-row > label {
    padding: .5em 1em .5em 0;
}
input{
    margin-left: 10px;
}
