
form{
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    background-color: rgb(132, 230, 132);
}

ul{
    padding: 10px;
}

.form li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.form li > label{
    flex: 1 0 100px;
    max-width: 220px;
}

input{
    padding: 0;
}

li:nth-child(3)>input,
li:nth-child(5)>input{
    width: 169px;
}

.form-btn{
    padding: 5px 10px;
    margin-left: 255px;
    margin-top: 10px;
    border-radius: 5px 5px;       
}