
@media (max-width:1300px){
    .header__inner {
        background-position: center;
        
    }
    .about__inner {
        padding: 0 10px 0 70px;
        
    }
    .about__item {
        flex-basis: 340px;
    }
    .contacts__items{
        max-width: 650px;
    }
    .news__inner {
        
        padding-left: 70px;
    }
    .news__item-box {
        flex-basis: 400px;
    }
    .news__item-image {
        flex-basis: 350px;
        max-width: 350px;
    }
    .slick-dots {
        
        left: 0;
        right: 0;
        margin: 0 auto;
        
    }
    .slider__item-box {
        right: 20px;
        max-width: 90%;
    }
    .slider__item-txt {
        padding-left: 30px;
        &::before{
            transform: scale(0.7);
        }
    }
}




@media (max-width:800px){
    .header__inner {
        padding: 250px  0px 250px 150px;
        background-position: right;
        
    }
    .burger span, .burger span::before, .burger span::after {
        background-color: #000;
    }
    .about__inner {
        padding: 0 10px 0 35px;
    }
    .about__inner-items {
        flex-wrap: wrap;
    }
    .about__item {
        flex-basis: 540px;
        margin-left: 0;
        margin-top: 30px;
    }
    .about__item + .about__item {
        margin-left: 0px;
    }
    .burger {
        background-color: transparent;
    }
    .section__title {
        font-size: 32px;
    }
    .contacts__inner{
        padding: 0 30px;
        &-txt{
            margin: 0 auto;
        }
    }
    .contacts__items{
        flex-wrap: wrap;
    }
    .contacts__item{
        width: 100%;
        margin-top: 30px;
    }
    .contacts__item:nth-child(2) {
        padding-left: 0px;
    }

    .news__inner {
        padding-left: 0;
        &-txt{
            max-width: 80%;
        }
    }
    

    .news__item {
        flex-direction: column;
        max-width: 80%;
        &-box{
            padding-left: 0;
            flex-basis: 300px;
        }
        &-image{
            max-width: 700px;
            width: 100%;
        }
        &-title{
            margin: 20px 0 0 5px;
        }
        
    }
    
    

    
    



    
}


@media (max-width:600px){
    .header__inner {
        padding: 150px  0px 150px 95px;
        &-title{
            color: #72c3ea ;
            font-size: 48px;
            max-width: 300px;
        }
        &-text{
            color: #34506d;
            max-width: 300px;
        }
    }
    .form__inner form {
        max-width: 75%; 
    }
    .news__inner {
        &-txt{
            display: none;
        }
    }
    .slider__item{
        position: relative;
        &-photo{
            position: absolute;
            bottom: -110px;
            left: -205px;
            
            transform: scale(0.6);
            
        }
        &-box{
            top: 111px;
        }
    }
    
        
}

@media (max-width:500px){
    .slick-slide img{
        display: none;
    }
    .slider__item {
        height: 355px;
    }

}

@media (max-width:400px){
    .header__inner {
        padding: 150px  0px 150px 90px;
        background-position-x: -770px;
        &-title{
            color: #72c3ea ;
            font-size: 36px;
            max-width: 200px;
        }
        &-text{
            display: none;
        }
    }
    .footer__inner-links {
        padding: 10px 0 0px 15px;
        max-width: 220px;
    }
    
}

