@media (max-width: 1300px) {
  .header__inner {
    background-position: center;
  }
  .about__inner {
    padding: 0 10px 0 70px;
  }
  .about__item {
    -ms-flex-preferred-size: 340px;
        flex-basis: 340px;
  }
  .contacts__items {
    max-width: 650px;
  }
  .news__inner {
    padding-left: 70px;
  }
  .news__item-box {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
  }
  .news__item-image {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    max-width: 350px;
  }
  .slick-dots {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .slider__item-box {
    right: 20px;
    max-width: 90%;
  }
  .slider__item-txt {
    padding-left: 30px;
  }
  .slider__item-txt::before {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .works__inner {
    padding-left: 70px;
    padding-right: 30px;
  }
  .works__item {
    max-width: 570px;
    width: calc(50% - 10px);
  }
  .reasons__inner {
    padding: 0 30px 0 70px;
  }
  .reasons__items {
    margin: 20px 20px 0 0;
  }
  .reason__item-image {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 800px) {
  .header__inner {
    padding: 250px  0px 250px 150px;
    background-position: right;
  }
  .burger span, .burger span::before, .burger span::after {
    background-color: #000;
  }
  .about__inner {
    padding: 0 10px 0 35px;
  }
  .about__inner-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__item {
    -ms-flex-preferred-size: 540px;
        flex-basis: 540px;
    margin-left: 0;
    margin-top: 30px;
  }
  .about__item + .about__item {
    margin-left: 0px;
  }
  .burger {
    background-color: transparent;
  }
  .section__title {
    font-size: 32px;
  }
  .contacts__inner {
    padding: 0 30px;
  }
  .contacts__inner-txt {
    margin: 0 auto;
  }
  .contacts__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts__item {
    width: 100%;
    margin-top: 30px;
  }
  .contacts__item:nth-child(2) {
    padding-left: 0px;
  }
  .news__inner {
    padding-left: 0;
  }
  .news__inner-txt {
    max-width: 80%;
  }
  .news__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80%;
  }
  .news__item-box {
    padding-left: 0;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
  .news__item-image {
    max-width: 700px;
    width: 100%;
  }
  .news__item-title {
    margin: 20px 0 0 5px;
  }
  .works__item {
    width: calc(50% - 10px);
  }
  .works__filter-btn button {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .works__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works__item {
    width: 80%;
  }
  .works__filter-btn button {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .header__inner {
    padding: 150px  0px 150px 95px;
  }
  .header__inner-title {
    color: #72c3ea;
    font-size: 48px;
    max-width: 300px;
  }
  .header__inner-text {
    color: #34506d;
    max-width: 300px;
  }
  .form__inner form {
    max-width: 75%;
  }
  .news__inner-txt {
    display: none;
  }
  .slider__item {
    position: relative;
  }
  .slider__item-photo {
    position: absolute;
    bottom: -110px;
    left: -205px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .slider__item-box {
    top: 111px;
  }
  .works__filter-btn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__inner,
  .reasons__inner {
    padding: 0 10px;
  }
  .works__item {
    width: 90%;
  }
  .reason__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reason__item-image {
    margin: 0px 0px 15px 0px;
  }
  .reason__item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reason__item-txt {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .slick-slide img {
    display: none;
  }
  .slider__item {
    height: 355px;
  }
  .reason__item-title {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .header__inner {
    padding: 150px  0px 150px 90px;
    background-position-x: -770px;
  }
  .header__inner-title {
    color: #72c3ea;
    font-size: 36px;
    max-width: 200px;
  }
  .header__inner-text {
    display: none;
  }
  .footer__inner-links {
    padding: 10px 0 0px 15px;
    max-width: 220px;
  }
  .works__filter-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works__filter-btn span {
    display: none;
  }
  .works__filter-btn button {
    margin-top: 10px;
  }
  .works__filter-btn button {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=media.css.map */