h1, h2, h3, h4, h5, h6, html, body {
    margin: 0;
    padding: 0;
    >a{
      text-decoration: none;
      color: inherit;
    }
  }
  
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html{
    box-sizing: border-box;
  }
  body {
    font-family: 'Oswald', sans-serif;
  }
  
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
  
  @font-face {
    font-family: 'icomoon';
    src: url("../fonts/fonts/icomoon.eot?qzbaib");
    src: url("../fonts/fonts/icomoon.eot?qzbaib#iefix") format("embedded-opentype"), url("../fonts/fonts/icomoon.ttf?qzbaib") format("truetype"), url("../fonts/fonts/icomoon.woff?qzbaib") format("woff"), url("../fonts/fonts/icomoon.svg?qzbaib#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-play2:before {
    content: "\ea15";
  }
  .icon-pause:before {
    content: "\ea16";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-dribbble:before {
    content: "\eaa7";
  }
  .icon-behance:before {
    content: "\eaa8";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  .icon-pinterest2:before {
    content: "\ead2";
  }
  
  /*********************************************
  ****************HEADER*********************
  **********************************************/
  .header__inner {
    padding-left: 215px;
    padding-top: 330px;
    padding-bottom: 344px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .header__inner-title {
    font-size: 55px;
    color: black;
    text-transform: uppercase;
    max-width: 430px;
    font-weight: 300;
    line-height: 62px;
    text-align: left;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    letter-spacing: 0.05em;
  }
  
  .header__inner-title span {
    font-weight: 700;
    letter-spacing: 0.00em;
  }
  
  .header__inner-text {
    font-size: 14px;
    color: #666666;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    max-width: 390px;
    line-height: 18px;
    padding: 19px 0 0 0;
    letter-spacing: 0.05em;
  }
  
  .header__inner-link {
    margin-top: 37px;
  }
  
  .link {
    display: block;
    font-size: 18px;
    color: black;
    font-weight: 700;
  }

  /*********************************************
  ******************ABOUT***********************
  **********************************************/
  
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    >a{
      text-decoration: none;
    }
  }
  
  
  .section__title {
    padding-top: 95px;
    font-size: 36px;
    padding-bottom: 75px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: center;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    position: relative;
  }
  .about__inner-title{
    padding: 93px 0 75px 0;
  }
  
  .section__title::after {
    content: '';
    background-image: url(../images/icons/devider.png);
    width: 31px;
    height: 6px;
    position: absolute;
    top: 173px;
    left: 59px;
  }
  
  .about__inner-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 26px;
    padding-bottom: 77px;
  }
  
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 340px;
    width: 100%;
    position: relative;
  }
  
  .about__item + .about__item {
    margin-left: 60px;
  }
  
  .about__item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .about__item-title {
    font-size: 18px;
    color: black;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    text-align: left;
    font-family: 'Lobster', cursive;
    letter-spacing: 0.05em;
    margin-left: -13px;
  }
  
  .about__item-title a {
    color: inherit;
    text-decoration: none;
  }
  
  .about__item-link {
    margin-left: 10px;
  }
  
  .about__item-txt {
    font-size: 14px;
    color: #666666;
    line-height: 23px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    max-width: 304px;
    letter-spacing: 0.05em;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    height: 108px;
    overflow: hidden;
    margin: 16px 0px 0 -9px;
  }


  /*********************************************
  ****************OUR WORKS*********************
  *********************************************/
  .works {
    background-color: #f9f9f9;
    padding-bottom: 52px;
  }
  
  .works__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .works__inner-title {
    padding-bottom: 46px;
  }
  
  .works__inner-title::after {
    display: none;
  }
  
  .works__filter-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 42px;
  }
  
  .works__filter-btn button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    outline: none;
    cursor: pointer;
  }
  
  .mixitup-control-active {
    color: #a4a4a4 !important;
  }
  
  .works__filter-btn span {
    color: #a4a4a4;
    padding: 0 19px;
  }
  
  .works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1170px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3px 0 0 -4px;
  }
  
  .works__item {
    margin-bottom: 65px;
    max-width: 370px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .works__item-image {
    width: 100%;
    height: 440px;
  }
  
  .works__item-image img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .works__item-title {
    font-size: 18px;
    color: black;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    font-family: 'Lobster', cursive;
    font-weight: 400;
    padding-top: 24px;
    padding-left: 3px;
  }
  
  .works__item-title a {
    color: inherit;
    text-decoration: none;
  }
  
  .works__item-categories {
    font-size: 14px;
    padding: 2px 0 27px 5px;
    margin: 0 30px;
    border-bottom: 1px solid #d1d1d1;
    color: #666666;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0.025em;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }
  
  .work__inner-link {
    margin-top: -23px;
  }
  
  /*********************************************
  **************WHY CHOOSE US*******************
  *********************************************/
  .reasons__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 32px;
    align-items: center;
    >a{
      text-decoration: none;
    }
  }
  
  .reasons__inner-title::after {
    top: 174px;
    left: calc(50% - 28px);
  }
  
  .reasons__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 29px 79px 0 0;
  }
  
  .reason__item {
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 72px;
    a{
      text-decoration: none;
    }
  }
  
  .reason__item-image {
    margin-right: 30px;
  }
  
  .reason__item-title {
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    margin-left: 3px;
    
  }
  
  .reason__item-title a {
    color: inherit;
    text-decoration: none;
  }
  
  .reason__item-subtitle {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #666666;
    font-style: italic;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.025em;
  }
  
  .reason__item-txt {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #444444;
    line-height: 22px;
    text-align: left;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    margin-left: 7px;
    margin-top: 14px;
  }
  
  /*********************************************
  ********************VOYAGE********************
  *********************************************/
  .voyage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .voyage__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
    padding: 60px 0 208px;
    position: relative;
  }
  
  .voyage__inner-title {
    font-size: 54px;
    color: white;
    text-transform: uppercase;
    line-height: 24px;
    text-align: left;
    margin-top: 172px;
    letter-spacing: 5px;
    margin: 172px 0 0 -8px;
  }
  
  .voyage__inner-title a {
    color: inherit;
    text-decoration: none;
  }
  
  .voyage__inner-txt {
    margin: 35px 0 0 -3px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: white;
    line-height: 1.25;
    letter-spacing: 0.05em;
    text-align: left;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    max-width: 450px;
  }
  
  .voyage__inner-link {
    margin: 35px 0 0 -6px;
    color: #fff;
  }
  
  .voyage__inner-phone {
    position: absolute;
    top: 61px;
    right: 15px;
    background-image: url(../images/phone.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 240px;
    height: 480px;
  }
  
  .voyage__inner-phone iframe {
    position: absolute;
    width: 210px;
    height: 344px;
    top: 59px;
    left: 17px;
  }
  
  /*********************************************
  ********************TEAM*********************
  *********************************************/
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f9f9f9;
    padding: 43px 0;
  }
  
  .team__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3px 98px 0 0;
  }
  
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .team__item:nth-child(2) {
    margin-left: 143px;
  }
  
  .team__item:nth-child(3) {
    margin-left: 98px;
  }
  
  .team__item:nth-child(4) {
    margin-left: 87px;
  }
  
  .team__item-image {
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 19px;
  }
  
  .team__item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 1px;
  }
  
  .team__item-title {
    font-size: 22px;
    font-weight: 700;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    text-align: left;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
  }
  
  .team__item-txt {
    font-size: 18px;
    font-family: 'Lobster', cursive;
    color: #444444;
    line-height: 24px;
    text-align: left;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    margin: 8px 0 0 -1px;
  }
  
  /*********************************************
  ********************MEMBERS*********************
  *********************************************/
  .members__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0 99px;
  }
  
  .members__inner-txt {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #666666;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    max-width: 370px;
    padding: 20px 0px 8px 2px;
  }
  
  .members__inner-title {
    padding: 45px 0 79px 8px;
    &::after{
      top: 124px;
      left: 64px;
    }
  }
  
  .members__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    margin: 34px 0 0 3px;
  }
  
  .members__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 270px;
    width: 100%;
  }
  
  .members__item + .members__item {
    margin-left: 30px;
  }
  
  .members__item-avatar {
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .members__item-name {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    letter-spacing: .05em;
    margin: 29px 0 0 0px;
  }
  
  .members__item-position {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #666666;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    width: 100%;
    letter-spacing: .025em;
    margin-top: 3px;
    padding: 0 0 25px;
    border-bottom: 1px solid #d1d1d1;
  }
  









  .video__inner {
    width: 100%;
    height: 685px; //685px
    position: relative;
    overflow: hidden;
    video{
      width: 100%;
      height: 680px; 

    }
    video[poster]{
      object-fit: cover;
      width:100%;
    }
  }
  
 

  
  

  

  /*********************************************
  ******************VIDEO RANGE******************
  *********************************************/
  

  
  .range-slider__range {
    position: absolute;
    bottom: 28px;
    left: 32px;
    
  }
  input[type=range] {
    -webkit-appearance: none; 
    width: 100%;
  }
   
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #dedede;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -3px;
  }
   
  input[type=range]:focus {
    outline: none;   }
   
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #e8e8e8;
  border-radius: 50%;
  
}

button#play,
button#pause{
  position: absolute;
  cursor: pointer;
  top: 297px;
  left: 47%;
  background-color: transparent;
  border: none;
  color:#fff ;
  outline: none;
  &::before{
    font-size: 86px;
  }
}

.icon-play2,
.icon-pause{
  &.active{
    display: block;
  }
  &.disable{
    display: none;
  }
}
















  /*********************************************
  ******************OUR SKILLS******************
  *********************************************/

  .skills__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 52px;
   
    
    &-title{
      padding: 90px 0 78px 1px;
      &::after{
            left: 71px;
            top: 169px;
      }
    }
  }

  
  .skills__items{
    display: flex;
    flex-direction: row;
    max-width: 812px;
    width: 100%;
    justify-content: space-between;
  }




.skills__box{
  max-width: 420px;
  width: 100%;
  padding: 25px 0 0 23px;
  &-title{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: rgb(0,0,0);
    font-weight: bold;
    text-transform: uppercase;
  }
  &-subtitle{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgb(102,102,102);
    font-style: italic;    
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    margin: 2px 0 0 2px;
  }
  &-txt{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #444444;
    line-height: 23px;
    text-align: left;
    -webkit-transform: scale(1.02, 1);
            transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    margin: 12px 0 0 0;
    padding-left: 5px;
  }

}

.skills__histogram{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 225px;
  height: 310px;
  position: relative;
  
  margin: -16px 24px 0px 0px;
  transform: rotate(-90deg);

  &-column{
    font-size: 14px;
    letter-spacing: 0.05em;
    font-style: italic;
    font-family: 'PT Sans', sans-serif;
    
    color: #444444;
    background-color: #292929;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 9px;
    color: #fff;
    height: 21px;
    &+.skills__histogram-column{
      margin-top: 15px;
    }
    
    
    
    
  }
}

/*********************************************
******************PARTNERS********************
*********************************************/

.partners__items{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 133px;
  background-color: #f9f9f9;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.partners__item{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 6);
  &+.partners__item{
    border-left: 1px solid #e1e1e1;
  }
  img{
    object-fit: contain;
  }
}


/********************************************
******************SLIDER*********************
*********************************************/



.slider__item{
  height: 555px;
  width: 100%;
  
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &-photo{
    object-fit: cover;
    height: 100%;
  }


  &-box{
    width: 540px;
    position: absolute;
    top: 216px;
    right: 307px;
    
  }
  &-txt{
    max-width: 535px;
    padding-left: 58px;
    
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #444444;
    line-height: 24px;
    text-align: left;
    transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    margin-left: 7px;
    margin-top: 14px;
    &::before{
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      background-image: url(../images/icons/lapki.png);
      background-repeat: no-repeat;
      width: 29px;
      height: 26px;
    }
  }

  &-author{
    font-size: 18px;
    font-family: 'Lobster', cursive;
    color: rgb(0, 0, 0);
    line-height: 24px;
    text-align: right;
    transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    padding: 26px 11px 0 0px;
    span{
      font-size: 14px;
      font-family: 'PT Sans', sans-serif;
      color: rgb(68, 68, 68);
      font-style: italic;
      line-height: 24px;
      letter-spacing: 0.025em;
      
    }
  }
}







.slick-dots {
  bottom: 24px;
  left: 701px;
  max-width: 200px;
}

.slick-dots li button:before{
  font-size: 24px;
  color: #cbcbcb;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  font-size: 34px;
}



/********************************************
*******************NEWS**********************
*********************************************/

.news__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 97px;
  &-title{
    padding: 66px 0 84px 0;
    &::after{
      top: 144px;
    }
  }
  
}


.subtitle-txt{
  max-width: 705px;
  text-align: center;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(144, 144, 144);
  font-style: italic;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 14px 0px 40px 0px;
  padding: 0;
  transform: scale(1.02, 1);
}
.news__items{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__item{
  max-width: 970px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  &-image{
    display: flex;
    flex-basis: 470px;
    max-width: 470px;
    object-fit: cover;    
    height: 280px;
    margin: 5px 0 0 0;

  }

  &-box{
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    padding-left: 30px;
  }
  &-title{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    transform: scale(1.02, 1);
    margin: 0px 0 0 2px;
  }
  &-txt{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(68, 68, 68);
    line-height: 23px;
    text-align: left;
    transform: scale(1.02, 1);
    letter-spacing: 0.05em;
    margin: 18px 0 11px 7px;
    padding: 0px 9px 0 0;
  }
  &-links{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(144, 144, 144);
    font-style: italic;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.025em;
    a{
      display: inline-block;
      color: inherit;
      text-decoration: none;
    }
  }
  &-time{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(144, 144, 144);
    font-style: italic;
    line-height: 24px;
    margin: 4px 0 0 0;
    letter-spacing: 0.025em;
    text-align: left;
    padding-bottom: 20px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 30px;
      background-color: #909090;
    }
  }

}

/********************************************
*******************FORM**********************
*********************************************/

.form{
  background-color: #f9f9f9;
}

.form__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &-title{
    padding-bottom: 47px;
    &::after{
      display: none;
    }
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 97px;
    max-width: 370px;
    width: 100%;
    input{
      padding: 1px 0 3px 0px;
      border: none;
      width: 100%;
      outline: none;
      background-color: #f9f9f9;
      border-bottom: 1px solid #d1d1d1;
      margin: 0 0 17px 0;

      &::placeholder{
        font-size: 18px;
        color: rgb(0, 0, 0);
        line-height: 28px;
        text-align: left;
        transform: scale(1.02, 1);
        letter-spacing: 0.05em;
        padding-left: 3px;
      }
      
      &+input{
        margin-top: 10px ;
      }
    }
  }

  &-btn{
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    margin: 8px 0px 0 0;
    
  }
}


/********************************************
******************CONTACTS*******************
*********************************************/

.contacts__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 91px;
  &-title{
    &::after{
      top: 175px;
      left: 71px;
    }
  }
  
  
  &-txt{
    margin: 27px 0px 40px 0px;
  }
}

.contacts__items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 803px;
  padding-top: 10px;
  width: 100%;
}
.contacts__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  transform: scale(1.02, 1);
  text-decoration: none;
  &:nth-child(2){
    padding-left: 17px;
  }
  img{
    width: 24px;
    height: 22px;
    object-fit: contain;
    margin: 0 0 12px 0;
  }
  
}

 /*********************************************
  ******************FOOTER*********************
  *********************************************/
  footer{
    background-color: #292929;
    height: 345px;
  }

  
  
  .footer__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px 0 0 0;
    &-logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2.5;
      text-align: center;
      letter-spacing: 0.05em;
    }
    &-links{
      margin: 27px 0 0 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 280px;
      width: 100%;
      li{
        list-style: none;
        a{
          display: inline-block;
          text-decoration: none;
          height: 30px;
          width: 30px;
          background-color: #707070;
          color: #292929;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          &::before{
            font-size: 20px;
          }
        }
      }
    }

    &-copyright{
      font-family: 'PT Sans', sans-serif;
      text-align: center;
      font-size: 14px;
      color: rgb(144, 144, 144);
      font-style: italic;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.025em;
      margin: 41px 0 0 0
    }
  }

