@media screen and (max-width:1024px){
    .header__menu,
    .footer__elements {
        padding: 40px 10px;
    }

    .content__bulb,
    .content__peak,
    .content__leicaDlux{
        padding: 38px 0 38px 33px;        
    }

    .content__joinUs{
        margin-left: 20px;
        padding: 65px 44px 74px;        
    }

    .content__peak,
    .content__joinUs{
        flex:1 1 calc(50% - 20px)
    }
     
    .content__trobla,
    .content__leica,
    .content__leicaDlux{
        flex: 1 1;
    }

    .content__trobla{
        margin-left: 20px;
        margin-right: 20px;
        flex-basis: calc(25% - 45px);
    }
    .content__leica{
        flex-basis: calc(25% - 45px);
    }

    .content__leicaDlux{
        flex-basis: calc(50% - 40px);
    }

    .content__leica-title a,
    .content__trobla-title a{
        font-size: 32px;
    }
    
}


@media screen and (max-width:768px){
    .content__joinUs{
        padding: 60px 5px;
    }
    .content__joinUs-title{
        font-size: 34px;
    }

    .content__bulb-title a{
        font-size: 56px;
    }

    .content__joinUs-description{
        font-size: 20px;
    }

    .content__peak-description{
        font-size: 22px;
    }

    .content__bulb-description{
        font-size: 30px;
    }

    .field__email{
        padding: 10px 28px;
    }
    .btn__submit{
        padding: 10px 73px;
    }

    .content__joinUs-safety{
        font-size: 11px;
    }

    .content__leica,
    .content__trobla{
        flex: 1 1 calc(50% - 20px);
    }
    .content__trobla{
        margin-right: 0;
    }


    .header__menu,
    .footer__elements {
        padding: 30px 10px;
    }

    .content__bulb,
    .content__peak,
    .content__leicaDlux{
        padding: 33px 0 33px 28px;        
    }

    .header__logo span{
        font-size: 40px;
    }

}

@media screen and (max-width:480px){
    .content__joinUs{
        margin-left: 0;
        padding: 65px 14px 74px 14px;
    }

    .content__joinUs-title{
        font-size: 40px;
    }

    .content__trobla{
        margin-left: 0;
    }

    .content__leica,
    .content__trobla{
        flex: 1 1 100%;
    }
    .header__burgermenu,
    .header__search{
        font-size: 0px;
    }
    
    .header__logo span{
        font-size: 32px;
    }

    .content__joinUs-description{
        font-size: 20px;
    }

    .field__email{
        padding: 9px 20px 10px 20px;
    }

    .btn__submit{
        padding: 9px 65px;
    }

    .footer__copyright{
        font-size: 12px;
    }
}

@media screen and (max-width:320px){
    .content__bulb,
    .content__peak,
    .content__leicaDlux{
        align-items: center;
        padding: 30px 10px;        
    }

    .content__bulb-description{
        font-size: 24px;
    }

    .content__bulb-title a,
    .content__peak-title a,
    .content__leicaDlux-title a,
    .content__bulb-description,
    .content__peak-description,
    .content__leicaDlux-description{
        text-align: center;
    }

    .header__logo:not(span){
        font-size: 0px;
    }

    .header__logo span{
        font-size: 24px;
    }
}