*{
    box-sizing: border-box;
}
*::after{
    content: '';
    clear: both;
    display: block;
}

@font-face {
    font-family: 'nk147regular';
    src: url('fonts/18891-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

body{
    margin: 0;
    font-family: Montserrat,sans-serif;
}

/*********************
********HEADER********
*********************/

.header{    
    width: inherit;
    background-color:#191a1e;   
}

.logo,
.footer__logo{
    width: 160px;
    float: left;
    
}

.logo__description{
    color: #ffffff;
    display: block;
    margin-top: 15px;
    
}

.logo__image{
    width: 32px;
    float: left;
    margin: 5px;

}


.header-navigation__items{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.header-navigation__item{
    float: left;
    position: relative;
    
    
}

.header-navigation__item a{
    color: #ffffff;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 600;
    
   
}
.header-navigation__item a:hover{
    color:#f71;
    
    
}
.header-navigation__items:first-child
.header-navigation__item:first-child{
    border-right: 1px solid white;
}

#donate,
#donate2{
    background-color: #f71;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 100px;
    padding-bottom: 3px;
}
#donate:hover,
#donate2:hover{
    color: white;
    opacity: .9;
}

/*********************
***UNDER_NAVIGATION***
*********************/

.sub-header-navigation{
    border-bottom: 1px solid #e4e4e4;
    font-family:'nk147regular';
}

.menu,
.menu__s-items{
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.menu{
    background: #fff;
    
}

.menu a{
    color: black;
    font-weight: 400;
}

.menu__item{
    float: left;
    position: relative;
}

.menu__s-items{
    display: none;
    position: absolute;
    background: gray;
    width: 150px;
}

.menu a{
    display: block;
    padding: 14px 14px;
    text-decoration: none;   
}
.menu__item:first-child a{
    padding: 14px 14px 14px 2px;
}


.menu a:hover{
    background-color: gray;
    border-bottom: rgb(87, 86, 86);
}
 
.menu__item:hover 
.menu__s-items{
    display: block;
    color: blanchedalmond;
    z-index: 30;
}

.menu__s-item > a:hover{
    text-decoration: underline;
    background-color: #f71;
}

/*********************
********MAIN**********
*********************/
.newsBlock{
    width: calc(100% / 4 * 3);    
    float: left;
}



.wideCard__image{
    width: calc(100% - 15px);
    height: 380px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.image3{
    background-image: url(img/wideCard.jpg);
}


.wideCard__time{
    padding-top: 8px;
    padding-left: 20px;
    font-family:'nk147regular'; 
    font-size: 12px;
    color:rgb(187, 187, 187);
    font-weight: 500;
    line-height: 16px;  
     
}
.wideCard__title{
    padding-top: 205px;
    padding-left: 20px;
    
}
.wideCard__title >a{
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    word-wrap: break-word;
    max-width: 760px;
    cursor: pointer;
    text-decoration: none;

    
}

.wideCard__title:hover>a{
    color:#f71;
}

.wideCard__border-bottom{
    width: 790px;
    margin: 8px 0px;

}

/*********************
******NewsCard********
*********************/

.NewsCard{
    width: calc(100%/2);
    float: left;
    cursor: pointer;
    z-index: 10;
}

.NewsCard__image{
    width: calc(100% - 15px);
    height: 265px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.image1{
    background-image: url(img/card2.jpg);
}
.image2{
    background-image: url(img/card1.jpg);
}

.NewsCard__time,
.lastNews__time{
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #9d9d9d;
    font-family:'nk147regular';
}


/*********************
********ASIDE*********
*********************/

.newsBar{
    width: calc(100% / 4);
    max-height: 920px;
    float: right;
    background-color: #f8f8f8;
    padding: 0 20px 20px;
    border-top: 4px solid #ff8b33;
    margin-top: 20px;
    overflow-y: scroll;
}

.newsBar__title{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 32px;
    color: #191a1e;
    
}

.lastNews{
    border-bottom: 1px solid #9d9d9d;
    margin-bottom: 10px;
    cursor: pointer;
    width: 206px;
}

.lastNews__title>a:link,
.NewsCard__title>a:link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: black
       
}


.lastNews__title>a:visited,
.NewsCard__title>a:visited{
    color: rgb(88, 84, 84);
}


.lastNews__title>a:hover,
.NewsCard__title>a:hover{
    color: #ff8b33;
}

.lastNews>h3>a:active,
.NewsCard__title>a:active{
    color: #ff8b33;
}



/*********************
*******FOOTER*********
*********************/
.footer{
    width: inherit;
    background-color:#191a1e;
    margin-top: 5px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    

}
.footer__image{
    width: 55px;
}

    
.footer__items{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__item{
    float: left;
    position: relative;
}

.footer__items a{
    color: #ffffff;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 600;
    cursor: pointer;
   
}
.footer__items a:hover{
    color:#f71;
}

.footer__logo{
    width: 80px;
}

.footer__items:last-child{
    margin-left: 65px;
}